*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body{
  height: 100vw;
}
.Head-Con{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.First{
  flex-grow: 4;
  color: #fff;
  background-color: #1c0069;
  padding-left: 1vw;
  padding-top: 2vw;
  padding-bottom: 4vw;
}
.P_Container{
}
#Open {
  flex-grow: 0.5;
}
#Var_C{
  position: relative;
  display: none;
  width: 15vw;
  background-color: #9f8cd4;
  max-height: 90vw;
  z-index:2;
}
.Var{
  overflow-y: scroll;
}
.Place{
  position: absolute;
  top: 10vw;
  width: 90vw;
  padding: 50px;
  z-index:1;
}

.Links {
  padding-top: 5px;
  padding-bottom: 5px;
}
iframe{
  height: 80vw;
  width: 100%;
  z-index: 1
}
